*{
	padding: 0;
	margin: 0;
}


#img{
background: url(../imagenes/encabezado.png) no-repeat;
width: 80px;
height: 80px;
margin-top: -5px;
margin-left: 6px;
}
nav{
background-color: grey;

}nav{

	background-color: #424242;
	height: 90px;
}
#img{
	background: url(../imagenes/encabezado.png) no-repeat;
	width: 111px;
	height: 111px;
	margin-left:10px;
	margin-top: -4px;

}

#letra{
	padding-top: 10px;
	margin-right: 50px;
}
#cerrar{
	background: url(../imagenes/cerrarsesion.png) no-repeat;
	width: 50px;
	height: 50px;
	margin-top: 9px;
	margin-left: 10px;
}
h4{
	margin-top: -80px;
	margin-left: 115px;
	color: #fff
}
h5{
	margin-top: -10px;
	margin-left: 150px;
	color: #fff
}
}